@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animation-delay-4000 {
  animation-delay: -10s; /* Start second animation halfway through */
}